<library path="lib/librqt_position_plugin">
    <class name="rqt_position_plugin/PositionPlugin" type="rqt_position_plugin::PositionPlugin" base_class_type="rqt_gui_cpp::Plugin">
        <description>
            This GUI plugin tracks a moving GPS postion such as a drone and allows plotting other other GPS positions such as a destination.
        </description>
        <qtgui>
            <label>Position Tracker</label>
            <icon type="theme">system-help</icon>
            <statustip>GPS Position Tracker</statustip>
        </qtgui>
    </class>
</library>
